<p id="notice"><%= notice %></p>

<%= render :partial => @blog %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<h2>Comments</h2>
<div class="blog-comment">
	<%= render :partial => @blog.comments %>
</div>

<%= form_for [@blog, Comment.new] do |f| %>
	<p>
		<%= f.label :body, "New Comment" %><br/>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit "Add Comment" %>
	</p>
<% end %>